body{
    background-color: aquamarine;
    background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-repeat: no-repeat;
background-size: cover;}
label{
    text-transform: capitalize;
    color:blue;
}
button{
    background-color: chartreuse;
    color:rosybrown;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    position:relative;
    left:32%;

}
.heading_1{
    background-color:yellow;
    width:300px;
    padding:16px;
    border: 8px solid yellow;
}
.input_container{
    padding:12px;
    width:50%;
    background-color:grey;
    border-bottom-left-radius:10px;
}